<h1>Display all the items</h1>


<table class = "table" > 
  <thead>
    <tr>
      <th>Item</th>
      <th>Descriptions</th>
      <th>Owner</th>

    </tr>

    <tbody>
      <% @item.each do |itemsingle|%>
      <tr>
        <td><%= itemsingle.name %></td>
        <td><%=itemsingle.description %></td>
          <% if (itemsingle.user_id.to_i != 0) %>
            <td>Owned by <%= @user.find(itemsingle.user_id.to_i).name %></td>
            <% end %>
        <% end %>
    </tbody>
  </thead>
</table>

