<h1>Display all the items</h1>

<table class="table">
  <thead>
    <tr>
      <th>Item</th>
      <th>Description</th>
      <th>Owner</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= item.owner_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
